body{
  background-color: #234;
  color: white;
  text-align: center;
}

#form-upload input {
  width: 200px;
  height: 200px;

  position: relative;
}

#form-upload input::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;

  background-image: url(upload3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
}

#form-upload img{
  width: 400px;
  display: none;
}